@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #50bb3b;
}
header {
  width: 100%;
  height: 475px;
}
h1 {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  padding-top: 180px;
  padding-bottom: 20px;
  color: #ffffff;
  padding-left: 36px;
}
header p {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  padding-left: 44px;
  align-items: center;
  color: #ffffff;
}
nav {
  background-color: #f9f9f9;
  display: flex;
  width: 100%;
  height: 229px;
}
nav ul {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px;
  justify-content: space-around;
}
nav li {
  background-color: #f9f9f9;
  padding: 10px;
  justify-content: space-around;
  list-style: none;
}
#a {
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}
section {
  display: flex;
  width: 100%;
  background-color: #ffffff;
}
h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 20px;
  padding-bottom: 22px;
  margin: 30px 0;
  text-transform: uppercase; /* alterando para maiúsculas */
  letter-spacing: 1px; /* aumentando o espaçamento entre as letras */
  text-align: start;
}
section p {
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 50%;
  padding-bottom: 50%;
  text-transform: initial;
  text-align: justify;
  letter-spacing: 1px;
}
#esquerda {
  width: 50%;
  padding-left: 49px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}
#direita {
  width: 50%;
  padding-left: 49px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}
#img_direita {
  width: 100%;
  height: 64%;
  padding-top: 50%;
  padding-bottom: 50%;
}
footer {
  width: 100%;
  height: 638px;
  text-align: center;
  align-items: center;
  color: #ffffff;
}
h3 {
  padding-top: 104px;
  padding-bottom: 17px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
}
input {
  width: 508px;
  height: 72px;
  top: 1795px;
  left: 466px;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-top: 20px;
}
#button {
  width: 286px;
  height: 74px;
  top: 1955px;
  left: 577px;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  background-color: #18c012;
}
::placeholder {
  font-weight: 700;
  font-size: 24px;
  color: #474747;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}
/* Media Query para telas menores ou iguais a 600px */
@media screen and (max-width: 600px) {
  body {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }
  header {
    height: 20%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 36px;
    line-height: 42px;
    padding-top: 40px;
    padding-bottom: 16px;
    padding-left: 11px;
    text-align: start;
  }
  header p {
    padding-left: 11px;
  }
  section {
    padding: 10px;
  }
  footer {
    padding: 28px;
    height: 397px;
    width: 95%;
  }

  section p {
    font-size: 20px;
    line-height: 26px;
    padding-top: 16px;
    padding-right: 65px;
    padding-bottom: 10px;
    text-align: center;
  }

  section {
    flex-direction: column-reverse;
    width: 114%;
    height: 100%;
  }

  #esquerda,
  #direita {
    background: #ffffff;
    width: 88%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  #img_direita {
    width: 88%;
    background: #ffffff;
    height: 352px;
    padding-top: 12px;
    padding-bottom: 0;
    margin-left: -14px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 114%;
    height: 130px;
    justify-content: center;
  }

  nav ul {
    margin: 50%;
    padding: 32px;
  }

  nav li {
    padding: 10px;
    list-style: none;
    text-align: center;
  }

  #a {
    width: 80px;
    height: 80px;
    padding: 8px;
    margin-bottom: 10px;
  }

  h3 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  input {
    width: 100%;
    height: 48px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #button {
    width: 100%;
    height: 48px;
    top: auto;
    left: auto;
    font-size: 20px;
    align-items: center;
  }

  ::placeholder {
    font-size: 22px;
    color: #18c012;
    padding: 8px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1439px) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  header {
    height: 300px;
  }

  h1 {
    font-size: 48px;
    line-height: 58px;
    padding-top: 120px;
    padding-bottom: 16px;
    padding-left: 28px;
  }

  header p {
    font-size: 20px;
    line-height: 26px;
    padding-left: 34px;
  }

  nav {
    height: 150px;
  }

  nav ul {
    margin: 10px;
  }

  nav li {
    padding: 5px;
  }

  #a {
    width: 80px;
    height: 80px;
    padding: 8px;
  }

  section {
    flex-direction: row;
  }

  h2 {
    font-size: 36px;
    line-height: 18px;
    padding-bottom: 16px;
    margin: 20px 0;
  }

  section p {
    font-size: 20px;
    line-height: 26px;
    padding-top: 50%;
    padding-bottom: 10%;
  }

  #esquerda,
  #direita {
    width: 50%;
    padding-left: 34px;
    margin-right: 70px;
  }

  #img_direita {
    width: 100%;
    height: 64%;
    padding-top: 50%;
    padding-bottom: 50%;
  }

  footer {
    height: 300px;
  }

  h3 {
    padding-top: 60px;
    padding-bottom: 12px;
    font-size: 24px;
    line-height: 36px;
  }

  input {
    width: 380px;
    height: 60px;
    margin-bottom: 15px;
    margin-top: 12px;
  }

  #button {
    width: 214px;
    height: 60px;
    top: auto;
    left: auto;
    font-size: 18px;
    align-items: center;
  }

  ::placeholder {
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  header {
    height: 475px;
  }

  h1 {
    font-size: 60px;
    line-height: 72px;
    padding-top: 180px;
    padding-bottom: 20px;
    padding-left: 36px;
  }

  header p {
    font-size: 24px;
    line-height: 30px;
    padding-left: 44px;
  }

  nav {
    height: 229px;
  }

  nav ul {
    margin: 20px;
  }

  nav li {
    padding: 10px;
  }

  #a {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
  }

  section {
    flex-direction: row;
  }

  h2 {
    font-size: 40px;
    line-height: 20px;
    padding-bottom: 22px;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
  }

  section p {
    font-weight: 700;
    font-size: 24px;
    padding-top: 50%;
    padding-bottom: 50%;
    text-transform: initial;
    text-align: justify;
    letter-spacing: 1px;
  }

  #esquerda,
  #direita {
    width: 50%;
    padding-left: 49px;
    margin-right: 70px;
  }

  #img_direita {
    width: 100%;
    height: 64%;
    padding-top: 50%;
    padding-bottom: 50%;
  }

  footer {
    height: 638px;
  }

  h3 {
    padding-top: 104px;
    padding-bottom: 17px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }

  input {
    width: 508px;
    height: 72px;
    margin-bottom: 25px;
    margin-top: 20px;
  }

  #button {
    width: 286px;
    height: 74px;
    top: auto;

    left: auto;
    font-size: 24px;
  }

  ::placeholder {
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
  }
}
